[submodule "Arcadia/third_party/spdlog"]
	path = Arcadia/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Arcadia/third_party/glfw"]
	path = Arcadia/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "Arcadia/third_party/imgui/include/imgui"]
	path = Arcadia/third_party/imgui/include/imgui
	url = https://github.com/cfcGIT/imgui
